@page "/controls"
@rendermode InteractiveWebAssembly

<PageTitle>Controls</PageTitle>

<div class="controls">
    <div class="trackpad" @onclick="TrackpadInput"></div>
    <div class="slot-1"></div>
    <div class="slot-2"></div>
</div>
