@page "/controls"
@rendermode InteractiveWebAssembly

<PageTitle>Controls</PageTitle>

<script>MyDOMGetBoundingClientRect = (element, parm) => { return element.getBoundingClientRect(); };</script>

<div class="controls">
    <div class="trackpad" @ref=TrackpadElementReference @onclick="TrackpadInput">
        <div class="slot-1"></div>
        <div class="character"></div>
    </div>
</div>
