@page "/lobby"
@rendermode InteractiveWebAssembly

<PageTitle>Lobby</PageTitle>

<div class="page-insert">

	<div class="page-lobby">

		<div class="my-5"></div>



		<div style="height: 128px"></div>

	</div>
</div>
